{% extends '::base.html.twig' %}

{% block body %}

    <div id="arts">
    {% for art in arts %}
        <div class="miniature">    
            <a href="#">
                <center>
                <a href="{{ path('art_show', {id: art.id})}}" ><img class="art" src="{{ art.WebPath | imagine_filter('my_thumb') }}" />           
                <div class="caption">
                <h3>{{ art.description }}</h3>          
                </div>  
                </center>  
            </a>  
        </div>
    {% endfor %}
    
{% endblock %}